.hero-container {
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
    object-fit: contain;
    background: url('https://images.unsplash.com/photo-1569050467447-ce54b3bbc37d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80') center center/cover no-repeat;
    color: #fff;
}

.hero-container h1 {
    font-size: 4rem;
    margin-top: -100px;
    text-align: center;
}

.hero-container p {
    margin-top: 8px;
    font-size: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
        'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.hero-btns {
    margin-top: 32px;
}

.hero-btns .btn {
    font-size: 1.2rem;
    padding: 12px 26px;
}

@media screen and (max-width: 960px) {
    .hero-container h1 {
        font-size: 3rem;
    }

    .hero-container p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .hero-container h1 {
        font-size: 2.5rem;
    }

    .hero-container p {
        font-size: 1.2rem;
    }
}