.menu-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    background: #fff;
}

.menu-heading {
    font-size: 3rem;
    margin-bottom: 64px;
    color: var(--color-primary);
}

.menu-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    max-width: 1200px;
    margin: 0 auto;
}

.menu-card {
    background: #fff;
    border-radius: 10px;
    box-shadow: var(--shadow-md);
    transition: transform 0.3s ease;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.menu-card:hover {
    transform: scale(1.02);
    box-shadow: var(--shadow-lg);
}

.menu-img-container {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.menu-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.menu-card:hover .menu-img {
    transform: scale(1.1);
}

.menu-info {
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-grow: 1;
}

.menu-title {
    font-size: 1.5rem;
    margin-bottom: 16px;
    color: var(--color-text-main);
}

.menu-desc {
    font-size: 1rem;
    margin-bottom: 24px;
    color: var(--color-text-muted);
    flex-grow: 1;
}

.menu-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primary);
    margin-bottom: 24px;
}

@media screen and (max-width: 960px) {
    .menu-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .menu-wrapper {
        grid-template-columns: 1fr;
    }

    .menu-heading {
        font-size: 2.5rem;
    }
}